.card
{
  height: 370px;
  margin-top: 15%;
  margin-bottom: auto;
  width: 30em;
  background-color: #8110cb; /* d7baf7 */
}

/*Header*/
.card-header a
{
  color: #000000;
  text-decoration: none;
  font-weight: 900;

}
.card-header:hover
{
  background-color: #d7baf7; /*8110cb */
}
/*Body*/
.input-group-prepend span
{
  width: 50px;
  background-color: #8110cb;
  color: #f3e249;
}
h3, .remember
{
  color: #ffffff;
}
.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}
.login_btn
{
  color: #ffffff;
  background-color: #8110cb;
  border: 1px solid;
  width: 100%;
}
.login_btn:hover
{
  color:#000000;
  border: none;
  background-color: #d7baf7;
}
.btn-access
{
  background-color: #8110cb;
  color: #ffffff;
}


/*Foter*/
.card-footer a
{
  color: #000000;
  text-decoration: none;
  font-weight: 900;
}
.card-footer:hover
{
  background-color: #d7baf7;
  color: #ffffff;
}

