@model SolareWeb.Models.Scheduled;
@{
    Layout = "_MainLayout";
}

<h2>Agendar atendimento</h2>
<hr>

<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".cd-example-modal-lg">
    <i class="fas fa-fw fa-calendar" aria-hidden="true"></i>
    <span>Agendar</span>
</button>
<br>
<br>
<div class="modal fade cd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agendar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" value="0" />
                    <div class="form-group">
                        <label class="col-form-label">Cliente</label>
                        <select class="form-control" asp-for="CustomerId" asp-items='@(new SelectList(@ViewBag.Customers,"Id","FullName"))'></select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Serviço</label>
                        <select class="form-control" asp-for="ServiceId" asp-items='@(new SelectList(@ViewBag.Services,"Id","ServiceName"))'></select>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="Date">Data</label>
                        <input class="form-check-input" type="date" name="Date" asp-for="Date">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" asp-for="Time">Horário</label>
                        <input class="form-check-input" type="time" name="Time" asp-for="Time">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Agendar</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-bordred">
    <thead>
    <td>Dia</td>
    <td>Horário</td>
    <td>Cliente</td>
    <td>Ações</td>
    </thead>
    <tbody>
        <tr>
            <td>18/06/2020</td>
            <td>15h00</td>
            <td>Igor Macedo dos Anjos</td>
            <td>
                <a class="btn btn-primary">Editar</a>
                <form style="display: inline;">
                    <input type="hidden" name="id" id="id" value="id">
                    <button class="btn btn-danger">Deletar</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>