<div id="nav-menu" class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a id="nav-menu-name" class="navbar-brand">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-menu-li nav-item">
          <a class="nav-link" [routerLink]="['/home']">{{ menuOne }}</a>
        </li>
        <li class="nav-menu-li nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ menuTwo }}
          </a>
          <div id="button-basic" *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/customer']"  class="dropdown-item nav-item-a" >Cliente</a>
            <a [routerLink]="['/service-product']" class="dropdown-item nav-item-a" >Serviço/Produto</a>
            <a [routerLink]="['/service-location']" class="dropdown-item nav-item-a" >Espaço de Atendimento</a>
          </div>
        </li>
        <li class="nav-menu-li nav-item">
          <a class="nav-link">
            {{ menuThree }}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav" dropdown>
        <li class="nav-menu-li nav-item dropdown nav-user nav-item">
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ userLogado }}
          </a>
          <div id="button-basic" *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/routePath']" class="dropdown-item nav-item-a" >Perfil</a>
            <a [routerLink]="['/routePath']" class="dropdown-item nav-item-a" >Configuração</a>
          </div>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/routePath']" class="nav-logout nav-link">
            Sair
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
