<nav-menu></nav-menu>
<div class="container">
  <h2>{{ title }}</h2>
  <a class="btn btn-color" [routerLink]="['/customer-add']" >Novo</a>
  <table class="table table-striped table-bordred mtop-mbottom">
      <thead>
        <td>Nome</td>
        <td>Data de Nascimento</td>
        <td>Cidade de Nascimento</td>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.nome }}</td>
          <td>{{ customer.data }}</td>
          <td>{{ customer.horario }}</td>
        </tr>
      </tbody>
  </table>
</div>
