@model SolareWeb.Models.ServiceLocation;
@{
    Layout="_MainLayout";
}

<h3>Novo Espaço de Atendimento</h3>
<hr>
 
<form class="form-horizontal" method="POST" asp-controller="ServiceLocation" asp-action="Save" id="idForm">                    
    <input asp-for="Id" class="form-control" type="hidden" name="Id" id="Id" value="0">

    <label for="txtServiceLocationName">Nome</label>
    <input asp-for="ServiceLocationName" class="form-control" type="text" name="ServiceLocationName" id="txtServiceLocationName" required autofocus>
    @*<br>
    <input type="checkbox" name="Enable" id="txtEnable">
    <label for="txtEnable">Ativo</label>
    <br>*@
    <hr>
    <div class="cst_btn">
        <button class="btn btn-success">Gravar</button>
        <a class="btn btn-secondary" href="https://localhost:5001/ServiceLocation/ServiceLocations">Voltar</a>
    </div>
</form>