<nav-menu></nav-menu>
<form>
  <div class="container-lg">
      <!-- <h2>{{ title }}</h2> -->
      <div class="mtop-mbottom">
        <div class="form-group col-md-6">
          <label for="txtName">Nome Completo</label>
          <input class="form-control" type="text" name="FullName" id="txtName" required autofocus>
        </div>
        <div class="form-group col-md-6">
          <label for="txtDateOfBirth">Data de Nascimento</label>
          <input class="form-control" type="date" name="DateOfBirth" id="txtDateOfBirth" required>
        </div>
        <div class="form-group col-md-6">
          <label for="txtBirthTime">Horário de Nascimento</label>
          <input class="form-control" type="time" name="BirthTime" id="txtBirthTime" required>
        </div>
        <div class="form-group col-md-6">
          <label for="txtCityOfBirth">Cidade de Nascimento</label>
          <input class="form-control" type="text" name="CityBirth" id="txtCityOfBirth" required>
        </div>
        <div class="form-group col-md-6">
          <label for="txtBirthState">Estado de Nascimento</label>
          <input class="form-control" type="text" name="BirthOfState" id="txtBirthState" required>
        </div>
        <button class="btn btn-color">Gravar</button>
        <a class="btn a-return" [routerLink]="['/customer']">Voltar</a>
      </div>
  </div>
</form>
