/* Botão */
.a-return
{
  background-color: #f5f5f5;
}

.a-return:hover
{
  background-color: #ebebeb;
}

.btn-color
{
  background-color: blueviolet;
  color: #fff;
}

.btn-color:hover
{
  background-color: #8110cb;
}

/* Formulário */
.formInput
{
  margin-top: 3em;
}
